@import url('https://smc.org.in/fonts/rachana.css');
:root {
	--text-color: #005;
	--text-shadow: 0px 0px 1px #997;
	--background-color: rgb(255, 250, 235);
}

.page-content, .mdl-layout-title, .menu-title, .mdl-navigation__link {
	color: var(--text-color);
	font-family: Rachana;
	text-shadow: var(--text-shadow);
}

.material-icons {
	color: var(--text-color);
	text-shadow: var(--text-shadow);
}

body, .mdl-layout--fixed-drawer, .mdl-layout__drawer, .mdl-menu, .mdl-layout__header .mdl-layout__header-row, .mdl-layout-container, .mdl-layout__header .mdl-layout__drawer-button {
	background-color: var(--background-color)
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	display: block;
	flex-shrink: 0;
	padding: 15px 20px;
	margin: 0;
	text-align: center;
	line-height: 10pt;
}

.menu-title {
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
}

.mdl-layout__header-row {
	padding-left: 0;
}

.mdl-layout-title {
	margin: auto;
	font-weight: bold;
	padding-top: 7px;
	width: 70vw;
	text-align: center;
}

.page-content {
	margin: auto;
	text-align: center;
	padding: 1rem 1rem 0 1rem;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.mdl-paging {
	display: flex;
	justify-content: center;
}

@media only screen and (min-width: 800px) {
	.page-content {
		padding: 1rem 10rem 0 10rem;
	}
}

@media only screen and (min-width: 1500px) {
	.page-content {
		padding: 1rem 20rem 0 20rem;
	}
}