@import url('https://smc.org.in/fonts/rachana.css');
:root {
	--text-color: #005;
	--text-shadow: 0px 0px 1px #997;
}

.page-content, .page-body, .mdl-layout-title, .menu-title, .page-content, .mdl-navigation__link, #ListMenu a {
	color: var(--text-color);
	font-family: Rachana;
	text-shadow: var(--text-shadow);
}

.material-icons {
	color: var(--text-color);
	text-shadow: var(--text-shadow);
}

body, .mdl-layout--fixed-drawer, .mdl-layout__drawer, .mdl-menu, .mdl-layout__header .mdl-layout__header-row {
	background-color: wheat;
}

.mdl-layout-container, .mdl-layout__drawer, .mdl-layout__header .mdl-layout__drawer-button {
	background-color: transparent;
	color: transparent;
}

.menu-title {
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
}

.mdl-layout__header-row {
	padding: 0;
}

.mdl-layout-title {
	margin: auto;
	font: size 12px;
	font-weight: bold;
	padding-top: 7px;
	width: 70vw;
	text-align: center;
}

.page-content {
	font-size: 12pt;
	margin: auto;
	text-align: center;
	padding: 1rem 1rem 0 1rem;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

@media only screen and (min-width: 800px) {
	.page-content {
		padding: 1rem 10rem 0 10rem;
	}
}

@media only screen and (min-width: 1500px) {
	.page-content {
		padding: 1rem 20rem 0 20rem;
	}
}